


.news__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 21px;
}

.news__img {
    max-width: 282px;
    max-height: 188px;
    margin-right: 24px;
}

.news__info {
    display: flex;
}

.new__p {
    margin-top: 24px;
    width: 282px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

.text__all-new {
    text-align: center;
    margin-bottom: 120px;
}

.new__line {
    margin-bottom: 130px;
    margin-left: 46%;
    height: 1px;
    width: 95px;
    background: rgba(217, 217, 217, 0.50);
}