
.Releases__title {

    font-size: 24px;
    font-weight: 700;
    margin-bottom: 21px;
}



.reles__one-item {
    display: flex;
}



.releas__p-one {
    margin-left: 16px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
}

.releas__h3-one {
    max-width: 302px;
    font-size: 24px;
    font-weight: 400;   
    margin-top: 24px;
}

.releases__two {
    float: right;

}


.reles__item-two {
    display: flex;
}


.releas__p-two {
    margin-right: 16px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
    
}

.releases__two-item {
    margin-top: -90px;
}

.releas__h3-item {
    margin-left: 88px;
}


.releas__h3-two {
    font-size: 24px;
    font-weight: 400;   
    margin-top: 24px;
    padding-left: -200px;
}

.releases__three {
    margin-top: 298px;
}


.reales__line {

    margin-bottom: 130px;
    margin-left: 46%;
    height: 1px;
    width: 95px;
    background: rgba(217, 217, 217, 0.50);
}

.text__all-reseal {
    margin-top: 50px;
    text-align: center;
}